{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Visi Užsakymai</h2>

{% if orders_ %}
{% if user.username == 'admin' %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Klientas</th>
      <th>Užsakymo Data</th>
      <th>Įsiregistravimo Data</th>
      <th>Išsiregistravimo Data</th>
      <th>Viešbutis</th>
      <th>Statusas</th>
      <th>Kambario Nr.</th>
      <th>Aukštas</th>
      <th>Ramybes valandos</th>
      <th>Redaguoti</th>
    </tr>
  </thead>
  <tbody>
  {% for order in orders_ %}
      <tr>
        <td>{{ order.client }}</td>
        <td>{{ order.order_date }}</td>
        <td>{{ order.r_date }}</td>
        <td>{{ order.i_date }}</td>
        <td>{{ order.hotel.name }}</td>
        <td>{{ order.get_status_display }}</td>
        <td>{{ order.admin_details.room_id }}</td>
        <td>{{ order.admin_details.aukstas }}</td>
        <td>{{ order.admin_details.ramybes_valandos }}</td>
        <td><a href="{% url 'edit_order' order.id %}"><button class="btn btn-primary">Redaguoti</button></a></td>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<h3>Neturite reikiamų teisių.</h3>
{% endif %}
{% else %}
<h3>Nera uzsakymu</h3>
{% endif %}
{% endblock %}